#skills__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* code section */

#skills__code-section {
  background-color: #313131;
  max-width: 2fr;
  overflow: auto;
}

#skills__code-container {
  color: white;
  display: inline;
}

#skills__code-container li {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

#skills__code-container pre {
  text-shadow: 0 0 0.05em currentColor;
  font-size: 1.2rem;
  font-weight: bold;
  max-width: fit-content;
  margin-bottom: 0;
}

.skills__code-header {
  display: block;
  padding-left: 1.5rem;
  background-color: #494949;
  color: rgb(200, 200, 200);
  font-weight: bold;
  font-size: 1.2rem;
}

.skills__code-line-numbers {
  margin-left: 1rem;
}

.skills__code-line-numbers > li {
  padding-left: 2rem;
}

.skills__code--property {
  color: hsl(338, 70%, 55%);
}

.skills__code--property::after {
  content: ': [';
  color: white;
}

.skills__code--property::before {
  content: '    ';
}

.skills__code--punctuation {
  color: hsl(334, 7%, 95%);
}

.skills__code--punctuation::before {
  content: '    ';
}

.skills__code--string {
  color: hsl(183, 70%, 62%);
}

.skills__code--string::before {
  content: '        ';
}

.skills__code--bracket {
  color: hsl(334, 7%, 95%);
}

/* result section */

#skills__result-container {
  background-color: var(--white);
}
