.stack__container {
    display: inline-block;
    width: 9rem;
    height: 9rem;
    margin: 5px 5px;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 0.5rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.stack__image {
    width: 5rem;
    transform: translateY(2rem);
    transition: transform 0.5s ease;
}

.stack__name {
    opacity: 0;
    font-family: "Raleway";
    font-weight: bold;
    transition: opacity 0.1s linear;
}

.stack__container:hover .stack__image {
    transform: translateY(0rem);
}

.stack__container:hover .stack__name {
    opacity: 1;
    transition: opacity 0.3s linear;
}