#about__section {
  background-image: var(--primary-gradient);
  color: var(--white);
  padding: var(--section-padding);
}

#about__title {
  font-family: var(--title-font);
  font-size: var(--title-size);
  text-align: center;
}

#about__text {
  font-family: var(--text-font);
  text-align: justify;
  margin: 0 8vw 0 8vw;
  font-size: var(--text-size);
}

/* Laptop L */
@media screen and (max-width: 1440px) {}

/* Laptop */
@media screen and (max-width: 1024px) {}

/* Tablet */
@media screen and (max-width: 768px) {}

/* Mobile L */
@media screen and (max-width: 425px) {}

/* Mobile M */
@media screen and (max-width: 375px) {}

/* Mobile S */
@media screen and (max-width: 320px) {}