:root {
  /* colors */
  --primary: rebeccapurple;
  --white: #fff;
  --black: #000;

  /* fonts */
  --title-font: "Staatliches", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}