#introduction__section {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    font-family: var(--title-font);
    text-align: center;
    padding: 2.5rem 0;
    user-select: none;
}

.introduction__hello-text {
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    text-align: left;
    padding-left: 0.5rem;
    justify-content: start;
    grid-column-start: 3;
    grid-column-end: 7;
    max-height: fit-content;
}

.introduction__name-container {
    display: inline;
    border-right: .15em solid rebeccapurple;
    animation: typeWriter 0.75s step-end infinite;
}

.introduction__name-text {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    line-height: 1;
    width: 0;
    max-width: fit-content;
    background-color: rgb(206, 206, 206);
    padding: 0.2em 0 0.2em 0.2em;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    align-self: end;
    align-content: end;
    vertical-align: bottom;
    letter-spacing: .15em;
}

.introduction__profession-text {
    font-family: var(--title-font);
    font-size: 15em;
    text-align: left;
    line-height: 0.8;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 7;
}

.introduction__description-text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    text-align: left;
    color: rgb(100, 100, 100);
    line-height: 1.2;
    grid-row-start: 4;
    grid-column-start: 5;
    grid-column-end: 8;
    line-break: auto;
    overflow-wrap: break-word;
}

@media screen and (max-width: 1780px) {
    .introduction__hello-text {
        font-size: 1.8rem;
    }

    .introduction__profession-text {
        font-size: 14em;
    }

    .introduction__description-text {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 1600px) {
    .introduction__hello-text {
        font-size: 1.6rem;
        font-weight: bold;
    }

    .introduction__profession-text {
        font-size: 12.5em;
    }

    .introduction__description-text {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 1400px) {
    .introduction__hello-text {
        font-size: 1.75rem;
        font-weight: bold;
    }

    .introduction__profession-text {
        font-size: 11em;
    }

    .introduction__description-text {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1200px) {
    .introduction__hello-text {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .introduction__profession-text {
        font-size: 9em;
    }

    .introduction__description-text {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1080px) {
    .introduction__hello-text {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .introduction__profession-text {
        font-size: 8em;
    }

    .introduction__description-text {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 900px) {
    .introduction__hello-text {
        font-size: 1.1rem;
        font-weight: bold;
        padding-left: 0.4rem;
    }

    .introduction__profession-text {
        font-size: 7em;
    }

    .introduction__description-text {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 720px) {
    .introduction__hello-text {
        font-size: 1rem;
        font-weight: bold;
        padding-left: 0.3rem;
    }

    .introduction__profession-text {
        font-size: 6em;
    }

    .introduction__description-text {
        font-size: 0.8em;
        grid-column-start: 4;
    }
}

@media screen and (max-width: 640px) {
    .introduction__hello-text {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .introduction__profession-text {
        font-size: 5em;
    }

    .introduction__description-text {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 540px) {
    .introduction__hello-text {
        font-size: 0.6rem;
        font-weight: bold;
        padding-left: 0.2rem;
    }

    .introduction__profession-text {
        font-size: 4.5em;
    }

    .introduction__description-text {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 480px) {
    .introduction__hello-text {
        font-size: 0.5rem;
        font-weight: bold;
        padding-left: 0.1rem;
    }

    .introduction__profession-text {
        font-size: 3.2em;
    }

    .introduction__description-text {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 360px) {
    .introduction__hello-text {
        font-size: 0.4rem;
        font-weight: bold;
    }

    .introduction__profession-text {
        font-size: 3em;
    }

    .introduction__description-text {
        font-size: 0.4em;
    }

}

/* Typewriter animation - start */

/* Typewriter cursor effect */
@keyframes typeWriter {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: var(--primary);
    }
}

@keyframes writeFullName {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes eraseSurname {
    from {
        width: 100%;
    }

    to {
        width: 20%;
    }
}

@keyframes eraseNickname {
    from {
        width: 20%;
    }

    to {
        width: 10%;
    }
}

@keyframes fixNickname {
    from, to {
        width: 10%;
    }

    50% {
        width: 8.5%;
    }
}

@keyframes eraseAll {
    from {
        width: 10%;
    }

    to {
        width: 0%;
    }
}

.introduction__name-animation--first {
    animation: writeFullName 4s steps(35, end)
}

.introduction__name-animation--second {
    animation: eraseSurname 3s steps(25, end)
}

.introduction__name-animation--third {
    animation: eraseNickname 1s steps(5, end)
}

.introduction__name-animation--fourth {
    animation: fixNickname 1s steps(1, end)
}

.introduction__name-animation--fifth {
    animation: eraseAll 1s steps(5, end)
}

.introduction__name-text--full-name {
    width: 100%;
}

.introduction__name-text--first-name {
    width: 20%;
}

.introduction__name-text--nick-name {
    width: 10%;
}

/* Typewriter animation - end */