#knowledge__section {
  padding: var(--section-padding);
  background-image: var(--primary-gradient);
  color: white;
}

#knowledge__title {
  font-size: var(--title-size);
  font-family: var(--title-font);
  text-align: center;
}

#knowledge__stack-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#knowledge__stack-container-grid {
  padding: 1rem;
  background-color: rgb(64, 30, 99);
  border-radius: 20px;
}

#knowledge__stack-filter-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  place-items: center;
  padding: 0 0.4rem;
}

.knowledge__stack-area-button {
  width: 100%;
  font-size: 1.1rem;
  font-family: var(--text-font);
  border: none;
  border-radius: 0.3rem;
}

.knowledge__stack-area-button--active {
  font-weight: bold;
  background-color: orange;
}

#knowledge__stack-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: fit-content;
  place-items: center;
  height: calc(3 * (9rem) + 50px);
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 1400px) {
  #knowledge__stack-grid {
    height: calc(3 * (9rem));
  }
}

@media screen and (max-width: 1080px) {
  #knowledge__stack-grid {
    height: calc(3 * (8rem));
  }

  .knowledge__stack-area-button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  #knowledge__stack-grid {
    height: calc(3 * (7.5rem));
  }
}

@media screen and (max-width: 720px) {
  #knowledge__stack-grid {
    height: calc(3 * (7rem));
  }

  .knowledge__stack-area-button {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 540px) {
  #knowledge__stack-grid {
    height: calc(3 * (6rem));
  }

  .knowledge__stack-area-button {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 480px) {
  #knowledge__stack-grid {
    height: calc(3 * (5.5rem));
  }
}

@media screen and (max-width: 360px) {
  #knowledge__stack-grid {
    height: calc(3 * (5rem));
  }

  .knowledge__stack-area-button {
    font-size: 0.6rem;
  }
}